# A first pass at pulling actors from a movie page

Here, we will start by pulling the actors from Jurassic World.

In [1]:
import pickle
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
import re

In [2]:
url = 'http://www.imdb.com/search/title?boxoffice_gross_us=2900000,&count=250&release_date=2006-05-01,2015-09-30&sort=boxoffice_gross_us,asc&title_type=feature,documentary&view=simple'

In [9]:
page = requests.get(url)

In [10]:
pages[0] = page.text

In [5]:

soups = [bs(page.text)]
suffix = '/search/title?boxoffice_gross_us=2900000,&count=250&release_date=2006-05-01,2015-09-30&sort=boxoffice_gross_us,asc&title_type=feature,documentary&view=simple'
i = 0

In [112]:
soups[0].find(text = re.compile("Next")).parent.get('href')

'/search/title?boxoffice_gross_us=2900000,&count=250&release_date=2006-05-01,2015-09-30&sort=boxoffice_gross_us,asc&start=251&title_type=feature,documentary&view=simple'

In [124]:
len(soups)

7

In [6]:
while suffix:
    link = soups[i].find(text = re.compile(u'Next\xa0\xbb'))
    if link:
        suffix = link.parent.get('href')
        page = requests.get('http://www.imdb.com' + suffix).text
        pages.append(page)
        soups.append(bs(page))
        i += 1
    else:
        suffix = None
print len(soups)

7

In [8]:
print soups[4].prettify()

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <script>
   var addClickstreamHeadersToAjax = function(xhr) {
    xhr.setRequestHeader("x-imdb-parent-id", "1KMS6PWGBX7FW44QH6N5");
};
  </script>
  <title>
   IMDb: Worst-US-Grossing   Feature Films/Documentaries Released 1 May 2006 to 30 September 2015 With US Box Office At Least $2,900,000
  </title>
  <link href="http://www.imdb.com/search/title?boxoffice_gross_us=2900000,&amp;count=250&amp;release_date=2006-05-01,2015-09-30&amp;sort=boxoffice_gross_us,asc&amp;start=1001&amp;title_type=feature,documentary&amp;view=simple" rel="canonical"/>
  <meta content="http://www.imdb.com/search/title?boxoffice_gross_us=2900000,&amp;count=250&amp;release_date=2006-05-01,2015-09-30&amp;sort=boxoffice_gross_us,asc&amp;start=1001&amp;title_type=feature,documentary&amp;view=simple" property="og:url"/>
  <link href="http://i.media-imdb.com/images/SFf916c48ae9059d778bc2a0138c326bdf/css2/consumersite.css" rel="stylesheet" type="text/css"/>
  <link href="http://i.media-imdb.com/images/SFd36761b30ebc061c8d30826d3d211d3c/css2/site/consumer-navbar-mega.css" rel="stylesheet" type="text/css"/>
  <link href="http://i.media-imdb.com/images/SF5ed50fbc28756db79d18e73e7ff96aa3/wheel/base.css" rel="stylesheet" type="text/css"/>
  <link href="http://i.media-imdb.com/images/SFa1d1dc21b3fa3bb079a450e6cb833a20/wheel/layout.css" rel="stylesheet" type="text/css"/>
  <link href="http://i.media-imdb.com/images/SF81342682e82e6b6a45b59d43c48aeac5/wheel/fixed.css" rel="stylesheet" type="text/css"/>
  <link href="http://i.media-imdb.com/images/SF6520738a648f46452f25b55c6df60087/css2/app/search/advsearch/view.css" rel="stylesheet" type="text/css"/>
  <link href="http://i.media-imdb.com/images/SFff7dae3592135f947f3f787b98bd5817/css2/app/realm/view.css" rel="stylesheet" type="text/css"/>
  <link href="http://i.media-imdb.com/images/SFa88e6ba92e5894e7909b0d2ef5d21e79/css2/site/consumer-navbar-suggestionsearch.css" rel="stylesheet" type="text/css"/>
  <link href="http://i.media-imdb.com/images/SFe349c433e719491fa3192fed28cfb9e1/wheel/buttons.css" rel="stylesheet" type="text/css"/>
  <meta content="article" property="og:type"/>
  <meta content="IMDb" property="og:site_name"/>
  <meta content="IMDb: Worst-US-Grossing   Feature Films/Documentaries Released 1 May 2006 to 30 September 2015 With US Box Office At Least $2,900,000

" property="og:title"/>
  <meta content="IMDb's advanced search allows you to run extremely powerful queries over all people and titles in the database.  Find exactly what you're looking for!" name="description"/>
  <link href="http://i.media-imdb.com/images/SF42a361874b4f716f234cd842bed55350/wheel/widgets.css" rel="stylesheet" type="text/css"/>
  <!-- start m/s/a/_g_a_s , head -->
  <script>
   window.ads_js_start = new Date().getTime();
var imdbads = imdbads || {}; imdbads.cmd = imdbads.cmd || [];
  </script>
  <!-- begin SRA -->
  <script>
   (function(){var d=function(o){return Object.prototype.toString.call(o)==="[object Array]";},g=function(q,p){var o;for(o=0;o<q.length;o++){if(o in q){p.call(null,q[o],o);}}},h=[],k,b,l=false,n=false,f=function(){var o=[],p=[],q={};g(h,function(s){var r="";g(s.dartsite.split("/"),function(t){if(t!==""){if(t in q){}else{q[t]=o.length;o.push(t);}r+="/"+q[t];}});p.push(r);});return{iu_parts:o,enc_prev_ius:p};},c=function(){var o=[];g(h,function(q){var p=[];g(q.sizes,function(r){p.push(r.join("x"));});o.push(p.join("|"));});return o;},m=function(){var o=[];g(h,function(p){o.push(a(p.targeting));});return o.join("|");},a=function(r,o){var q,p,s=[];for(q in r){p=[];for(j=0;j<r[q].length;j++){p.push(encodeURIComponent(r[q][j]));}if(o){s.push(q+"="+encodeURIComponent(p.join(",")));}else{s.push(q+"="+p.join(","));}}return s.join("&");},e=function(){var o=+new Date();if(n){return;}if(!this.readyState||"loaded"===this.readyState){n=true;if(l){imdbads.cmd.push(function(){for(i=0;i<h.length;i++){generic.monitoring.record_metric(h[i].name+".fail",csm.duration(o));}});}}};window.tinygpt={define_slot:function(r,q,o,p){h.push({dartsite:r.replace(/\/$/,""),sizes:q,name:o,targeting:p});},set_targeting:function(o){k=o;},callback:function(q){var r,p={},t,o,s=+new Date();l=false;for(r=0;r<h.length;r++){t=h[r].dartsite;o=h[r].name;if(q[r][t]){p[o]=q[r][t];}else{window.console&&console.error&&console.error("Unable to correlate GPT response for "+o);}}imdbads.cmd.push(function(){for(r=0;r<h.length;r++){ad_utils.slot_events.trigger(h[r].name,"request",{timestamp:b});ad_utils.slot_events.trigger(h[r].name,"tagdeliver",{timestamp:s});}ad_utils.gpt.handle_response(p);});},send:function(){var r=[],q=function(s,t){if(d(t)){t=t.join(",");}if(t){r.push(s+"="+encodeURIComponent(""+t));}},o,p;if(h.length===0){tinygpt.callback({});return;}q("gdfp_req","1");q("correlator",Math.floor(4503599627370496*Math.random()));q("output","json_html");q("callback","tinygpt.callback");q("impl","fifs");q("json_a","1");result=f();q("iu_parts",result.iu_parts);q("enc_prev_ius",result.enc_prev_ius);q("prev_iu_szs",c());q("prev_scp",m());q("cust_params",a(k,true));o=document.createElement("script");p=document.getElementsByTagName("script")[0];o.async=true;o.type="text/javascript";o.src="http://pubads.g.doubleclick.net/gampad/ads?"+r.join("&");o.id="tinygpt";o.onload=o.onerror=o.onreadystatechange=e;l=true;p.parentNode.insertBefore(o,p);b=+new Date();}};})();
  </script>
  <script>
   tinygpt.define_slot('/4215/imdb2.consumer.main/find',
[[300,250],[300,600],[11,1]],
'top_rhs',
{
'p': ['tr']
});
tinygpt.define_slot('/4215/imdb2.consumer.main/find',
[[728,90],[1008,150],[1008,200],[1008,30],[970,250],[9,1]],
'top_ad',
{
'p': ['top','t']
});
tinygpt.set_targeting({
'fv' : ['1'],
'ab' : ['f'],
'c' : ['1'],
'bpx' : ['1'],
'u': ['547687001087'],
'oe': ['utf-8']
});
tinygpt.send();
  </script>
  <!-- begin ads header -->
  <script src="http://ia.media-imdb.com/images/G/01/imdbads/js/collections/ads-tarnhelm-1244366189._CB292973052_.js">
  </script>
  <script>
   doWithAds = function(){};
  </script>
  <script>
   doWithAds = function(inside, failureMessage){
if ('consoleLog' in window &&
'generic' in window &&
'ad_utils' in window &&
'custom' in window &&
'monitoring' in generic &&
'document_is_ready' in generic) {
try{
inside.call(this);
}catch(e) {
if ( window.ueLogError ) {
if(typeof failureMessage !== 'undefined'){
e.message = failureMessage;
}
e.attribution = "Advertising";
e.logLevel = "ERROR";
ueLogError(e);
}
if( (document.location.hash.match('debug=1')) &&
(typeof failureMessage !== 'undefined') ){
console.error(failureMessage);
}
}
} else {
if( (document.location.hash.match('debug=1')) &&
(typeof failureMessage !== 'undefined') ){
console.error(failureMessage);
}
}
};
  </script>
  <script>
   doWithAds(function(){
generic.monitoring.record_metric("ads_js_request_to_done", (new Date().getTime()) - window.ads_js_start);
generic.monitoring.set_forester_info("main");
generic.monitoring.set_twilight_info(
"main",
"Other",
"91b744ad3b91e526e9cfbd29bd02a774aaf376d0",
"2015-10-02T18%3A44%3A33GMT",
"http://s.media-imdb.com/twilight/?",
"consumer");
generic.send_csm_head_metrics && generic.send_csm_head_metrics();
generic.monitoring.start_timing("page_load");
generic.seconds_to_midnight = 44127;
generic.days_to_midnight = 0.510729193687439;
ad_utils.set_slots_on_page({ 'injected_billboard':1, 'injected_navstrip':1, 'bottom_ad':1, 'top_ad':1, 'top_rhs':1, 'rhs_cornerstone':1 });
custom.full_page.data_url = "http://ia.media-imdb.com/images/G/01/imdbads/js/graffiti_data-1582251138._CB317085808_.js";
consoleLog('advertising initialized','ads');
},"ads js missing, skipping ads setup.");
var _gaq = _gaq || [];
_gaq.push(['_setCustomVar', 4, 'ads_abtest_treatment', 'f']);
  </script>
  <script>
   doWithAds(function() { ad_utils.ads_header.done(); });
  </script>
  <!-- end ads header -->
  <!-- end m/s/a/_g_a_s , head -->
  <script src="http://i.media-imdb.com/images/SFd27a377a4866ce46bc384cb601e44fcc/js/cc/yesScript.js">
  </script>
 </head>
 <body class="fixed" id="styleguide-v2">
  <div id="hidden_pre_root_content">
   <!-- start m/s/a/_g_a_s , body -->
   <!-- end m/s/a/_g_a_s , body -->
  </div>
  <div id="wrapper">
   <div id="root">
    <div class="navbarSprite" id="nb20">
     <div id="supertab">
      <!-- begin TOP_AD -->
      <div class="dfp_slot" id="top_ad_wrapper">
       <script>
        window.generic = window.generic || {};
generic.alphalfaComponents = {
"alphalfa-container.html" : "http://ia.media-imdb.com/images/G/01/imdbads/alphalfa-container-253150330._CB315223742_.html",
"js/collections/alphalfa.js" : "http://ia.media-imdb.com/images/G/01/imdbads/js/collections/alphalfa-2513524760._CB315223700_.js"
};
       </script>
       <script type="text/javascript">
        doWithAds(function(){
ad_utils.register_ad('top_ad');
});
       </script>
       <iframe allowtransparency="true" class="yesScript" data-config-height="85" data-config-width="0" data-cookie-height="null" data-cookie-width="null" data-dart-params="#imdb2.consumer.main/find;!TILE!;sz=728x90,1008x150,1008x200,1008x30,970x250,9x1;p=top;p=t;fv=1;ab=f;bpx=1;c=1;oe=utf-8;[CLIENT_SIDE_KEYVALUES];u=547687001087;ord=547687001087?" data-original-height="85" data-original-width="0" frameborder="0" height="85" id="top_ad" marginheight="0" marginwidth="0" name="top_ad" onload="doWithAds.call(this, function(){ ad_utils.on_ad_load(this); });" scrolling="no" width="0">
       </iframe>
       <noscript>
        <a href="http://ad.doubleclick.net/N4215/jump/imdb2.consumer.main/find;tile=0;sz=728x90,1008x150,1008x200,1008x30,970x250,9x1;p=top;p=t;fv=1;ab=f;bpx=1;c=1;ord=547687001087?" target="_blank">
         <img alt="advertisement" border="0" src="http://ad.doubleclick.net/N4215/ad/imdb2.consumer.main/find;tile=0;sz=728x90,1008x150,1008x200,1008x30,970x250,9x1;p=top;p=t;fv=1;ab=f;bpx=1;c=1;ord=547687001087?"/>
        </a>
       </noscript>
      </div>
      <div id="top_ad_reflow_helper">
      </div>
      <script>
       doWithAds(function(){
ad_utils.gpt.render_ad('top_ad');
}, "ad_utils not defined, unable to render client-side GPT ad.");
      </script>
      <!-- End TOP_AD -->
      <!-- _get_ad_for_slot(TOP_AD) -->
     </div>
     <div id="navbar">
      <noscript>
       <link href="http://i.media-imdb.com/images/SF52e6b9f11712d3ec552179f6c869b63a/css2/site/consumer-navbar-no-js.css" rel="stylesheet" type="text/css"/>
      </noscript>
      <span id="home_img_holder">
       <a class="navbarSprite" href="/?ref_=nv_home" id="home_img" onclick="(new Image()).src='/rg/home/navbar/images/b.gif?link=%2F%3Fref_%3Dnv_home';" title="Home">
       </a>
       <span class="alt_logo">
        <a href="/?ref_=nv_home" onclick="(new Image()).src='/rg/home/navbar/images/b.gif?link=%2F%3Fref_%3Dnv_home';" title="Home">
         IMDb
        </a>
       </span>
      </span>
      <form accept-charset="utf-8" action="/find" class="nav-searchbar-inner" id="navbar-form" method="get" onsubmit="(new Image()).src='/rg/SEARCH-BOX/HEADER/images/b.gif?link=/find';">
       <div id="nb_search">
        <noscript>
         <div id="more_if_no_javascript">
          <a href="/search/">
           More
          </a>
         </div>
        </noscript>
        <button class="primary btn" id="navbar-submit-button" type="submit">
         <div class="magnifyingglass navbarSprite">
         </div>
        </button>
        <input name="ref_" type="hidden" value="nv_sr_fn"/>
        <input autocomplete="off" id="navbar-query" name="q" placeholder="Find Movies, TV shows, Celebrities and more..." type="text" value=""/>
        <div class="quicksearch_dropdown_wrapper">
         <select class="quicksearch_dropdown navbarSprite" id="quicksearch" name="s" onchange="jumpMenu(this); suggestionsearch_dropdown_choice(this);">
          <option value="all">
           All
          </option>
          <option value="tt">
           Titles
          </option>
          <option value="ep">
           TV Episodes
          </option>
          <option value="nm">
           Names
          </option>
          <option value="co">
           Companies
          </option>
          <option value="kw">
           Keywords
          </option>
          <option value="ch">
           Characters
          </option>
          <option value="qu">
           Quotes
          </option>
          <option value="bi">
           Bios
          </option>
          <option value="pl">
           Plots
          </option>
         </select>
        </div>
        <div id="navbar-suggestionsearch">
        </div>
       </div>
      </form>
      <div id="megaMenu">
       <ul class="main_nav" id="consumer_main_nav">
        <li class="spacer">
        </li>
        <li aria-haspopup="true" class="css_nav_item" id="navTitleMenu">
         <p class="navCategory">
          <a href="/movies-in-theaters/?ref_=nv_tp_inth_1">
           Movies
          </a>
          ,
          <a href="/chart/toptv/?ref_=nv_tp_tv250_2">
           TV
          </a>
          <br/>
          &amp;
          <a href="/showtimes/?ref_=nv_tp_sh_3">
           Showtimes
          </a>
         </p>
         <span class="downArrow">
         </span>
         <div class="sub_nav" id="navMenu1">
          <div id="titleAd">
          </div>
          <div class="subNavListContainer">
           <h5>
            MOVIES
           </h5>
           <ul>
            <li>
             <a href="/movies-in-theaters/?ref_=nv_mv_inth_1">
              In Theaters
             </a>
            </li>
            <li>
             <a href="/showtimes/?ref_=nv_mv_sh_2">
              Showtimes &amp; Tickets
             </a>
            </li>
            <li>
             <a href="/trailers/?ref_=nv_mv_tr_3">
              Latest Trailers
             </a>
            </li>
            <li>
             <a href="/movies-coming-soon/?ref_=nv_mv_cs_4">
              Coming Soon
             </a>
            </li>
            <li>
             <a href="/calendar/?ref_=nv_mv_cal_5">
              Release Calendar
             </a>
            </li>
           </ul>
           <h5>
            CHARTS &amp; TRENDS
           </h5>
           <ul>
            <li>
             <a href="/search/title?count=100&amp;title_type=feature,tv_series,tv_movie&amp;explore=title_type,genres,year,countries&amp;ref_=nv_ch_mm_1">
              Popular Movies &amp; TV
             </a>
            </li>
            <li>
             <a href="/chart/?ref_=nv_ch_cht_2">
              Box Office
             </a>
            </li>
            <li>
             <a href="/search/title?count=100&amp;groups=oscar_best_picture_winners&amp;sort=year,desc&amp;ref_=nv_ch_osc_3">
              Oscar Winners
             </a>
            </li>
            <li>
             <a href="/chart/top?ref_=nv_ch_250_4">
              Top 250 Movies
             </a>
            </li>
            <li>
             <a href="/genre/?ref_=nv_ch_gr_5">
              Most Popular by Genre
             </a>
            </li>
           </ul>
          </div>
          <div class="subNavListContainer">
           <h5>
            TV &amp; VIDEO
           </h5>
           <ul>
            <li>
             <a href="/falltv/?ref_=nv_tvv_fall_1">
              Fall TV
             </a>
            </li>
            <li>
             <a href="/list/ls074418362/?ref_=nv_tvv_picks_2">
              TV Picks
             </a>
            </li>
            <li>
             <a href="/tvgrid/?ref_=nv_tvv_ls_3">
              On Tonight
             </a>
            </li>
            <li>
             <a href="/chart/toptv?ref_=nv_tvv_250_4">
              Top 250 TV
             </a>
            </li>
            <li>
             <a href="/list/ls074093523/?ref_=nv_tvv_wn_5">
              Watch Now on Amazon
             </a>
            </li>
            <li>
             <a href="/sections/dvd/?ref_=nv_tvv_dvd_6">
              DVD &amp; Blu-Ray
             </a>
            </li>
           </ul>
           <h5>
            SPECIAL FEATURES
           </h5>
           <ul>
            <li>
             <a href="/family-entertainment-guide/?ref_=nv_sf_feg_1">
              Family Entertainment Guide
             </a>
            </li>
            <li>
             <a href="/best-of/?ref_=nv_sf_bo_2">
              Best of 2014
             </a>
            </li>
            <li>
             <a href="/x-ray/?ref_=nv_sf_xray_3">
              X-Ray for Movies &amp; TV
             </a>
            </li>
            <li>
             <a href="/whattowatch/?ref_=nv_sf_wtw_4">
              What to Watch
             </a>
            </li>
           </ul>
          </div>
         </div>
        </li>
        <li class="spacer">
        </li>
        <li aria-haspopup="true" class="css_nav_item" id="navNameMenu">
         <p class="navCategory">
          <a href="/search/name?gender=male,female&amp;ref_=nv_tp_cel_1">
           Celebs
          </a>
          ,
          <a href="/awards-central/?ref_=nv_tp_awrd_2">
           Events
          </a>
          <br/>
          &amp;
          <a href="/gallery/rg784964352?ref_=nv_tp_ph_3">
           Photos
          </a>
         </p>
         <span class="downArrow">
         </span>
         <div class="sub_nav" id="navMenu2">
          <div id="nameAd">
          </div>
          <div class="subNavListContainer">
           <h5>
            CELEBS
           </h5>
           <ul>
            <li>
             <a href="/search/name?birth_monthday=10-2&amp;refine=birth_monthday&amp;ref_=nv_cel_brn_1">
              Born Today
             </a>
            </li>
            <li>
             <a href="/news/celebrity?ref_=nv_cel_nw_2">
              Celebrity News
             </a>
            </li>
            <li>
             <a href="/search/name?gender=male,female&amp;ref_=nv_cel_m_3">
              Most Popular Celebs
             </a>
            </li>
           </ul>
           <h5>
            PHOTOS
           </h5>
           <ul>
            <li>
             <a href="/gallery/rg784964352?ref_=nv_ph_ls_1">
              Latest Stills
             </a>
            </li>
            <li>
             <a href="/gallery/rg1528338944?ref_=nv_ph_lp_2">
              Latest Posters
             </a>
            </li>
            <li>
             <a href="/gallery/rg2465176320?ref_=nv_ph_lv_3">
              Photos We Love
             </a>
            </li>
           </ul>
          </div>
          <div class="subNavListContainer">
           <h5>
            EVENTS
           </h5>
           <ul>
            <li>
             <a href="/awards-central/?ref_=nv_ev_awrd_1">
              Awards Central
             </a>
            </li>
            <li>
             <a href="/sundance/?ref_=nv_ev_sun_2">
              Sundance
             </a>
            </li>
            <li>
             <a href="/sxsw/?ref_=nv_ev_sxsw_3">
              SXSW Film Festival
             </a>
            </li>
            <li>
             <a href="/tribeca/?ref_=nv_ev_tri_4">
              Tribeca
             </a>
            </li>
            <li>
             <a href="/cannes/?ref_=nv_ev_can_5">
              Cannes
             </a>
            </li>
            <li>
             <a href="/comic-con/?ref_=nv_ev_comic_6">
              Comic-Con
             </a>
            </li>
            <li>
             <a href="/emmys/?ref_=nv_ev_rte_7">
              Emmy Awards
             </a>
            </li>
            <li>
             <a href="/venice/?ref_=nv_ev_venice_8">
              Venice Film Festival
             </a>
            </li>
            <li>
             <a href="/toronto/?ref_=nv_ev_tff_9">
              Toronto Film Festival
             </a>

In [11]:
with open('imdb_summer_movie_links.pkl', 'w') as imdb_links:
    pickle.dump(pages, imdb_links)

In [128]:
with open('top500movies.pkl', 'r') as f:
    top500movies = pd.DataFrame(pickle.load(f), columns = ['index', 'title', 'prod', 'gross', 'trs', 'open', 'open_trs', 'op_date', 'cl_date', 'year'])

In [149]:
pd.set_option('display.height', 500)
pd.set_option('display.max_rows', 500)
a = top500movies.title
a

height has been deprecated.

0                                         Jurassic World
1                                Avengers: Age of Ultron
2                                             Inside Out
3                                                Minions
4                     Mission: Impossible - Rogue Nation
5                                        Pitch Perfect 2
6                                                Ant-Man
7                                 Straight Outta Compton
8                                            San Andreas
9                                     Mad Max: Fury Road
10                                                   Spy
11                                            Trainwreck
12                                          Tomorrowland
13                                   Terminator: Genisys
14                                                 Ted 2
15                                                Pixels
16                                        Magic Mike XXL
17                                              Vacation
18                                              War Room
19                                        Fantastic Four
20                                   Insidious Chapter 3
21                                              Southpaw
22                                    Poltergeist (2015)
23                               The Man From U.N.C.L.E.
24                                       The Gift (2015)
25                                            Max (2015)
26                                           Hot Pursuit
27                                             Entourage
28                                           Paper Towns
29                                   A Walk in the Woods
30                                            Sinister 2
31                                             No Escape
32                                   Ricki and the Flash
33                                           The Gallows
34                                      Hitman: Agent 47
35                                                 Aloha
36                                 Shaun the Sheep Movie
37                                            Mr. Holmes
38                                                  Dope
39                              The Transporter Refueled
40                                        American Ultra
41                                          Love & Mercy
42                                             Self/Less
43                            Far from the Madding Crowd
44                            Un Gallo con Muchos Huevos
45                                                   Amy
46                                     Bajrangi Bhaijaan
47                       Dragon Ball Z: Resurrection 'F'
48                             I'll See You In My Dreams
49                        Me and Earl and the Dying Girl
50                               Guardians of the Galaxy
51                       Transformers: Age of Extinction
52                                            Maleficent
53                            X-Men: Days of Future Past
54                        Dawn of the Planet of the Apes
55                              The Amazing Spider-Man 2
56                                       Godzilla (2014)
57                                        22 Jump Street
58                   Teenage Mutant Ninja Turtles (2014)
59                            How to Train Your Dragon 2
60                                             Neighbors
61                                                  Lucy
62                                The Fault in our Stars
63                                      Edge of Tomorrow
64                                                 Tammy
65                                         Let's Be Cops
66                                       Hercules (2014)
67                                    The Purge: Anarchy
68                                  Think Like a Man Too
69                                 Planes: Fire & Rescue
70                              The Hundred-Foot Journey
71                                             If I Stay
72                                        Into The Storm
73                                           Jersey Boys
74                                               Blended
75                                             The Giver
76                     A Million Ways to Die in the West
77                                     The Expendables 3
78                                         Earth to Echo
79                                              Sex Tape
80                                    Million Dollar Arm
81                                                  Chef
82                                             Get On Up
83                                  Deliver Us From Evil
84                             When the Game Stands Tall
85                                               Boyhood
86                                      The November Man
87                                     As Above/So Below
88                                     A Most Wanted Man
89                                           Begin Again
90                                        And So It Goes
91                                        Step Up All In
92                                        America (2014)
93           Frank Miller's Sin City: A Dame to Kill For
94                                                 Belle
95                                Magic in the Moonlight
96                                       Moms' Night Out
97                       Legends of Oz: Dorothy's Return
98                                            Cantinflas
99                                           Snowpiercer
100                                           Iron Man 3
101                                      Despicable Me 2
102                                         Man of Steel
103                                  Monsters University
104                                     Fast & Furious 6
105                              Star Trek Into Darkness
106                                          World War Z
107                                             The Heat
108                                    We're the Millers
109                              The Great Gatsby (2013)
110                                        The Conjuring
111                                          Grown Ups 2
112                                        The Wolverine
113                                       Now You See Me
114                              Lee Daniels' The Butler
115                                The Hangover Part III
116                                                 Epic
117                                          Pacific Rim
118                                      This is the End
119                                              Elysium
120                                               Planes
121                                      The Lone Ranger
122                                                Turbo
123                                               2 Guns
124                                     White House Down
125                                         The Smurfs 2
126                       Percy Jackson: Sea of Monsters
127                                            The Purge
128                                          After Earth
129                                                Red 2
130                                       The Internship
131                            Instructions Not Included
132                                             R.I.P.D.
133                                         Blue Jasmine
134                           Kevin Hart: Let Me Explain
135                The Mortal Instruments: City of Bones
136                            One Direction: This is Us
137                                           Kick-Ass 2
138                                      The World's End
139                                    The Way, Way Back
140                                          You're Next
141                                                 Jobs
142                                    Fruitvale Station
143                                       Getaway (2013)
144                         Tyler Perry Presents Peeples
145                                      Before Midnight
146                                             Paranoia
147                                  The Spectacular Now
148                                      The Grandmaster
149                                       The Bling Ring
150                                Marvel's The Avengers
151                                The Dark Knight Rises
152                               The Amazing Spider-Man
153                                                Brave
154                                                  Ted
155                   Madagascar 3: Europe's Most Wanted
156                                                MIB 3
157                           Ice Age: Continental Drift
158                          Snow White and the Huntsman
159                                           Prometheus
160                                           Magic Mike
161                                    The Bourne Legacy
162                                         The Campaign
163                                    The Expendables 2
164                                         Dark Shadows
165             Tyler Perry's Madea's Witness Protection
166                                           Battleship
167                                         Hope Springs
168                                         The Dictator
169                                  Total Recall (2012)
170                                           ParaNorman
171                        The Odd Life of Timothy Green
172                                       The Possession
173                       Diary of a Wimpy Kid: Dog Days
174                                       Savages (2012)
175                       The Best Exotic Marigold Hotel
176                                     Moonrise Kingdom
177                 What to Expect When You're Expecting
178                                         Rock of Ages
179                      Abraham Lincoln: Vampire Hunter
180                                              Lawless
181                                        That's My Boy
182                                            The Watch
183                                   Step Up Revolution
184                                 2016 Obama's America
185                               Katy Perry: Part of Me
186                                       Sparkle (2012)
187                                         Premium Rush
188                                    Chernobyl Diaries
189                                    To Rome with Love
190                                          Hit and Run
191                          Beasts of the Southern Wild
192                                       People Like Us
193                         The Intouchables (U.S.-only)
194            Seeking a Friend for the End of the World
195                                    For Greater Glory
196                                       The Apparition
197                                Safety Not Guaranteed
198                              Searching for Sugar Man
199                            Nitro Circus the Movie 3D
200          Harry Potter and the Deathly Hallows Part 2
201                       Transformers: Dark of the Moon
202                                 The Hangover Part II
203          Pirates of the Caribbean: On Stranger Tides
204                                               Cars 2
205                                                 Thor
206                       Rise of the Planet of the Apes
207                   Captain America: The First Avenger
208                                             The Help
209                                          Bridesmaids
210                                      Kung Fu Panda 2
211                                   X-Men: First Class
212                                           The Smurfs
213                                              Super 8
214                                      Horrible Bosses
215                                        Green Lantern
216                                          Bad Teacher
217                                     Cowboys & Aliens
218                                 Crazy, Stupid, Love.
219                                            Zookeeper
220                                Mr. Popper's Penguins
221                                    Midnight in Paris
222                                Friends with Benefits
223                                  Final Destination 5
224                                   Something Borrowed
225                  Spy Kids: All the Time in the World
226                                    Jumping the Broom
227                                        The Change-Up
228                                   30 Minutes or Less
229                                           Colombiana
230                                         Larry Crowne
231                                             The Debt
232                                               Priest
233                                      Winnie the Pooh
234                                    Our Idiot Brother
235                          Don't Be Afraid of the Dark
236                                          Monte Carlo
237                           Conan the Barbarian (2011)
238                                       Shark Night 3D
239                                  Fright Night (2011)
240                                            Apollo 18
241                 Judy Moody and the NOT Bummer Summer
242                                              One Day
243                                     The Tree of Life
244                            Glee The 3D Concert Movie
245                                          Sarah's Key
246                                            Beginners
247                                            The Guard
248                                 Seven Days in Utopia
249                                                 Buck
250                                          Toy Story 3
251                                           Iron Man 2
252                           The Twilight Saga: Eclipse
253                                            Inception
254                                        Despicable Me
255                                  Shrek Forever After
256                                       The Karate Kid
257                                            Grown Ups
258                                   The Last Airbender
259                                       The Other Guys
260                                                 Salt
261                                           Robin Hood
262                                      The Expendables
263                                   Sex and the City 2
264                  Prince of Persia: The Sands of Time
265                                        Eat Pray Love
266                                           The A-Team
267                                         Knight & Day
268                                  Dinner for Schmucks
269                            The Sorcerer's Apprentice
270                                 Get Him to the Greek
271                                               Takers
272                                    Letters to Juliet
273                                            Predators
274                                              Killers
275             Cats & Dogs: The Revenge of Kitty Galore
276                                          Step Up 3-D
277                                    The Last Exorcism
278                                        Vampires Suck
279                                         The American
280                                            Marmaduke
281                          Scott Pilgrim vs. the World
282                                    Charlie St. Cloud
283                                 Nanny McPhee Returns
284                                           The Switch
285                                              Machete
286                                    Ramona and Beezus
287                                           Piranha 3D
288                                       Lottery Ticket
289                                          Just Wright
290                               The Kids Are All Right
291                                   Going the Distance
292                                               Splice
293                              Avatar: Special Edition
294                                            Jonah Hex
295                                              Get Low
296                                            MacGruber
297                        The Girl Who Played with Fire
298                                                Cyrus
299                                               Babies
300                  Transformers: Revenge of the Fallen
301               Harry Potter and the Half-Blood Prince
302                                                   Up
303                                         The Hangover
304                                            Star Trek
305                       Ice Age: Dawn of the Dinosaurs
306                             X-Men Origins: Wolverine
307       Night at the Museum: Battle of the Smithsonian
308                                         The Proposal
309                          G.I. Joe: The Rise of Cobra
310                                      Angels & Demons
311                                 Terminator Salvation
312                                 Inglourious Basterds
313                                              G-Force
314                                           District 9
315                                       Public Enemies
316                                        Julie & Julia
317                                       The Ugly Truth
318                                The Final Destination
319                           The Taking of Pelham 1 2 3
320                             The Time Traveler's Wife
321                                                Bruno
322                           Ghosts of Girlfriends Past
323                                         Funny People
324                                     Land of the Lost
325                                   My Sister's Keeper
326                                             Year One
327                                      Drag Me to Hell
328                                               Orphan
329                                      All About Steve
330                                  Halloween II (2009)
331                                 (500) Days of Summer
332                                          Dance Flick
333                                  Aliens in the Attic
334                                               Shorts
335                                                Gamer
336                                      The Hurt Locker
337                                         Imagine That
338                                    A Perfect Getaway
339                      The Goods: Live Hard, Sell Hard
340                                                Ponyo
341                               I Love You Beth Cooper
342                                              Extract
343                                         Next Day Air
344                                           Away We Go
345                                     My Life in Ruins
346                                        The Collector
347                                     Taking Woodstock
348                                            Post Grad
349                                       Whatever Works

In [164]:
def get_imdb_link(movie, i):
    for soup in soups:
        spot = soup.find(text = re.compile(movie.lower(), re.I))
        if spot:
            return spot.parent.get('href')
    print i
    return
        

def get_imdb_links(movies):
    links = []
    i = 0
    count = 0
    for movie in movies:
        link = get_imdb_link(movie, i)
        links.append(link)
        i += 1
        if link == None:
            count += 1
    print count
    return links

In [166]:
links_take_1 = get_imdb_links(a.values)
with open("imdb_movie_links.pkl", 'w') as imdb_movie_links:
    pickle.dump(links_take_1, imdb_movie_links)

13
20
22
24
25
56
58
66
87
92
93
109
139
143
144
150
156
165
169
174
184
186
193
199
200
237
239
244
248
267
276
293
321
330
331
341
354
384
411
413
414
419
434
444
455
458
464
470
471
473
477
483
485
488
489
493
496
61